{% extends '../layouts/layout.html' %}
{% block main %}	
<div class="container">
    <div class="row"><p>The Currency Converter application focuses on delivering the best user experience for the final user, it uses innovative tools and financial technology to provide Internet-based currency information and charts services to everyone, from individuals to large corporations.
							The exchange rates are collected from various providers, and displayed for live view and historical analysis. <br>
							Using the online calculator allows you to convert one country’s currency to another with just a few clicks of a mouse, the data is updated on an hourly basis and is is always the most accurate available. We do not provide bid/offer prices, the prices provided by the <a href="/">converter</a> represent the midpoint between buy and sell prices.<br>
							using the <a href="/multiple-currencies-exchange-rates">multiconverter tool</a> you can check the currency prices of all available currencies in one page,
							and update amounts easily <br>							
							Either you need to do a simple one-time foreign currency exchange rate or if you use them on a regular basis, it’s best to have accurate information at the click of a button. When you know how to use online rate calculators they are a simple and fast tool, not just for exchange rate but comparison graphs and exchange rates history too.
							<br>
							<a href="/currency-converter.pdf">currency converter sheet</a>
						</p>
						<p>
							<h4>Contact Us</h4>
						</p>
						<p> If you have any request or question please contact us at : contact@currency-converter.io
						</p>
	</div>
</div>					 
{% endblock %}