{% extends '../layouts/layout.html' %}
{% block style %}<link rel="canonical" href="http://www.currency-converter.io/"/>{% endblock %}
{% block main %}
<div class="container">
    <div class="row converter_form">
        <form method="get" action="/show" class="form-inline" role="form">
            <div class="form-group">  
                <input type="text" class="form-control small_input" name="amount" value="1"/> 
            </div>
            <div class="form-group">
                <select id="from" name="from" class="form-control">{%for short_name in Object.keys( currencies )%}{%if (short_name == 'BTC' || short_name == 'XAU'|| short_name == 'AFN')%}<option value="" disabled>—————————————</option>{%endif%}<option value="{{short_name}}">{{short_name}} - {{currencies[short_name]}}</option>{%endfor%}
                </select>
                <a href="javascript:;" onclick="swap()" class="btn orange-button">&lt;&gt;</a>
            </div>
            <div class="form-group">
                <select id="to" name="to" class="form-control">{%for short_name in Object.keys( currencies )%}{%if (short_name == 'BTC' || short_name == 'XAU'|| short_name == 'AFN')%}<option value="" disabled>—————————————</option>{%endif%}<option value="{{short_name}}">{{short_name}} - {{currencies[short_name]}}</option>{%endfor%}</select>
            </div>
            <button value="1day" name="view" class="btn orange-button" type="submit">Convert</button>
        </form>
    </div>
</div>
<hr class="small">
<div class="container">
<div class="row">
<div class="col-lg-4 text-center">
    <div style="font-size: 35px;"><i class="fa fa-dashboard text-blue"></i></div>
    <a href="/show?amount=1&amp;from=USD&amp;to=EUR&amp;view=1day"><h3>Real Time</h3></a>
    <p>Hourly updated currency rates keep our information current and actionable.</p>
</div>
<div class="col-lg-4 text-center">
    <div style="font-size: 35px;"><i class="fa fa-crosshairs text-blue"></i></div>
    <a href="/multiple-currencies-exchange-rates"><h3>Accurate</h3></a>
    <p>Reliable and consistent currency converter, our tool offers the accuracy your need.</p>
</div>
<div class="col-lg-4 text-center">
    <div style="font-size: 35px;"><i class="fa fa-line-chart text-blue"></i></div>
    <a href="/show?amount=1&amp;from=USD&amp;to=EUR&amp;view=5years"><h3>Historic data</h3></a>
    <p>We track data back to 5 years so you have valuable historical currency rates.</p>
</div>
</div>
</div>
<div class="container"><hr></div>
{% endblock %}
{% block footer_text %}<p>The <a href="/">Currency Converter</a> is Free, live, and historical service for all major world currencies.
The prices provided by the Currency Converter are based on multiple sources, from multiple markets.
We provide the most representative market rates possible, and the currencies prices are updated on an hourly basis.<br>Copyright © 2015. CurrencyConverter.
</p>
{% endblock %}
{% block script %}
<script type="text/javascript">
    function swap(){
        var tmp = document.getElementById("from").value;
        document.getElementById("from").value = document.getElementById("to").value;
        document.getElementById("to").value = tmp;
    }
    document.getElementById("to").value = "EUR";
</script>
{% endblock %}
