{% extends '../layouts/layout.html' %}
{% block style %}
<link rel="stylesheet" href="/css/flags.css">
<link rel="stylesheet" href="/css/bootstrap-editable.css">
{% endblock %}
{% block ad %}<script>if (navigator.userAgent.match(/Mobi/)){var _style = "display:inline-block;width:320px;height:100px";
                var _data_ad_slot = "6522146954";}else{var _style = "display:inline-block;width:728px;height:90px";
                var _data_ad_slot = "6904790951";}
            document.write ('<ins class="adsbygoogle" style="'+_style+'" data-ad-client="ca-pub-8689799054016335" data-ad-slot="'+_data_ad_slot+'" ></ins>');
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
        <ul class="list-group">                     
            {% for short_name in Object.keys( currencies ) %}
                {% if (loop.index0 !=0 && loop.index0%54 == 0) %}
                        </ul>
                    </div>
                    <div class="col-sm-4">
                    <ul class="list-group">             
                {% endif %}
                <li class="list-group-item">                    
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="flag flag-{{short_name|replace('^(.{2,2})(.*)', '$1')|lower}}" alt="Currency converter {{currencies[short_name]}}" /> {{currencies[short_name]}} - {{short_name}}                     
                    <a href="javascript:;" id="{{short_name}}" class="pull-right rate_value" data-name="{{short_name}}" title="{{currencies[short_name]}} ">{{current_rate[short_name]}}</a>
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>
</div>
<div class="container"><hr></div>
{% endblock %}
{% block footer_text %}<p>The <a href="/">Currency Converter</a> is often used as a means of checking the relative value of a currency before exchanging it into another currency. This simple, yet very usefull tool gives you access to the current exchange rates of all major world currencies.<br>We provide the most accurate market rates possible, and the currencies prices are updated on an hourly basis.<br>
Copyright © 2015. CurrencyConverter.</p>
{% endblock %}
{% block script %}
<script src="/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">
var rates = {% autoescape false %}{{current_rate|json_encode}}{% endautoescape %}
$(function(){
    $('.rate_value').editable({
        type: 'text',            
         success: function(response, newValue) {                
            var from = $(this).data("name");
            $( ".rate_value" ).each(function( index ){ 
                var to = $(this).data("name");                    
                value = (rates[to]/rates[from])*newValue;
                value = Math.round(value * 100) / 100
                $(this).editable('setValue', value);
            });
        }
    });
});
</script>
{% endblock %}