{% extends '../layouts/layout.html' %}
{% block style %}<link rel="stylesheet" href="/css/flags.css">{% endblock %}
{% block main %}
<div class="container">
	<div class="row">	
	<h3> Exchange Rates RSS Feed for all major currencies.</h3>
		<div class="col-sm-4">
		<ul class="list-group">
			{% for currency in currencies %}			
			
			<li class="list-group-item">
				<a href="/currency-rss-feed/{{currency.short_name}}/feed.rss">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="flag flag-{{currency.country_code}}" alt="Exchange rate rss feed {{currency.long_name}}" /> {{currency.long_name}} - {{currency.short_name}}
				</a>
			</li>
			{% if (loop.index0 !=0 && loop.index0%56 == 0) %}
					</ul>
				</div>
				<div class="col-sm-4">
				<ul class="list-group">				
			{% endif %}

			{% endfor %}
		</ul>
		</div>
	</div>
</div>
{% endblock %}