{% extends '../layouts/layout.html' %}
{% block main %}
<form method="get" action="/show" class="form-inline" role="form">
<div class="container">
    <div class="row converter_form">        
            <div class="form-group">  
                <input type="text" class="form-control small_input" name="amount" id="amount" value="1"/> 
            </div>
            <div class="form-group">
                <select id="from" name="from" class="form-control">{%for short_name in Object.keys( currencies )%}{%if (short_name == 'BTC' || short_name == 'XAU'|| short_name == 'AFN')%}<option value="" disabled>—————————————</option>{%endif%}<option value="{{short_name}}">{{short_name}} - {{currencies[short_name]}}</option>{%endfor%}
                </select>
                <a href="javascript:;" onclick="swap()" class="btn orange-button">&lt;&gt;</a>
            </div>
            <div class="form-group">
                <select id="to" name="to" class="form-control">{%for short_name in Object.keys( currencies )%}{%if (short_name == 'BTC' || short_name == 'XAU'|| short_name == 'AFN')%}<option value="" disabled>—————————————</option>{%endif%}<option value="{{short_name}}">{{short_name}} - {{currencies[short_name]}}</option>{%endfor%}</select>
            </div>
            <button value="1day" name="view" class="btn orange-button" type="submit">Get Rate</button>
    </div>
</div>
<div class="container">
<hr class="hsmall">
<div class="row"> 
<div class="col-md-2"> </div> 
  <div class="col-md-8 center_div">     
 <label class="btn custom_button btn-xs orange-button">1 {{from}} = {{current_rate}} {{to}} 
{% if amount != 1%} # {{amount}} {{from}} = {{result}} {{to}}{% endif %} 
</label> &nbsp; &nbsp; &nbsp;
<button class="btn btn-xs custom_button btn-info" type="submit" name="view" id="1day" value="1day">1 day</button>
<button class="btn btn-xs custom_button btn-info" type="submit" name="view" id="1week" value="1week">1 week</button>  
<button class="btn btn-xs custom_button btn-info" type="submit" name="view" id="1month" value="1month">1 month</button>
<button class="btn btn-xs custom_button btn-info" type="submit" name="view" id="3months" value="3months">3 months</button>
<button class="btn btn-xs custom_button btn-info" type="submit" name="view" id="1year" value="1year">1 year</button>   
<button class="btn btn-xs custom_button btn-info" type="submit" name="view" id="2years" value="2years">2 years</button>
<button class="btn btn-xs custom_button btn-info" type="submit" name="view" id="5years" value="5years">5 years</button>
 <div id="rateschart" width='100%' style='height: 300px;'></div>
  </div>
  <div class="col-md-2"> </div> 
</div>
</div>
</form>
<div class="container"><hr></div>
{% endblock %}
{% block script %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="//code.highcharts.com/stock/highstock.js"></script>
<script type="text/javascript">
    function swap(){
        var tmp = document.getElementById("from").value;
        document.getElementById("from").value = document.getElementById("to").value;
        document.getElementById("to").value = tmp;
    }
$(function(){
  $("#{{view}}").removeClass("btn-info").addClass("btn-default");
  $('#from').val("{{from}}");
  $('#to').val("{{to}}");
  $('#amount').val("{{amount}}");
  $('#rateschart').highcharts('StockChart', {
      chart: {
      plotBorderWidth: 1
    },
    colors: ['#5bc0de'],
    yAxis: {
      opposite: false
    },
      rangeSelector : {
          enabled : false
      },              
      navigator : {
          enabled : false
      },
      scrollbar : {
          enabled : false
      },            
      series : [{
          name : 'value',
          data : {{ chart_data }},
          tooltip: {
              valueDecimals: 4
          }
      }]
  });
});
</script>
{% endblock %}

