<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Currency Converter - {{title }} </title>
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
<meta content="Full featured foreign currency converter and calculator, accurate exchange rates, historic graphs and currency prices for all major world currencies." name="description">
<meta name="author" content="Currency Converter">
<meta content="currency converter" name="keywords">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/new_css.css">
{% block style %}{% endblock %}
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CurrencyConverter</a>
            <div class="g-plusone" data-size="medium" data-annotation="none"></div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">                
                <li>
                    <a href="/multiple-currencies-exchange-rates" title="Exchange rate multi currencies converter"><i class="fa fa-th text-red"></i> Multi Converter</a>
                </li>
                <li>
                    <a href="/currency-rss-feeds" title="Exchange Rates RSS Feed">RSS Feed</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="sb-page-header">
    <div class="container">
        {% autoescape false %}{{ page_heading || '' }}{% endautoescape %}
        {% autoescape false %}{{ page_description || '' }}{% endautoescape %}
    </div>
</header>
<div class="container">
    <div class="row converter_form">
    <script>if (navigator.userAgent.match(/Mobi/)){var _style = "display:inline-block;width:320px;height:100px";
                var _data_ad_slot = "6522146954";}else{var _style = "display:inline-block;width:728px;height:90px";
                var _data_ad_slot = "6904790951";}
            document.write ('<ins class="adsbygoogle" style="'+_style+'" data-ad-client="ca-pub-8689799054016335" data-ad-slot="'+_data_ad_slot+'" ></ins>');
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </div>
</div>
{% block main %}{% endblock %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
            {% block footer_text %}{% endblock %}
            </div>
            <div class="col-md-3 footer-right">
                <ul class="list-inline">
                    <li>
                        <a href="/about.html">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{% block script %}{% endblock %}
</body></html>